.header {
  grid-area: h;
  border-radius: 0%;
  background: url("../../assets/images/black.png") 0 0 / auto 100% no-repeat;
  background-color: #7c507c;
}

.text {
  font-size: 40px;
  color: rgb(238, 213, 75);
  padding: 0px 0px 0px 70px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.loginBlock {
  float: right;
  padding-top: 20px;
}
.loginBlock a {
  font-size: 20px;
  margin: 25px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  color: rgb(238, 116, 222);
}
.loginBlock a:active {
  color: #7c507c;
}
