.nav {
  background-color: brown;
  grid-area: n;
}
.item a {
  text-decoration: none;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 25%;
  color: #f7e7ce;
}
.item:first-child {
  margin-top: 20px;
}
.item a.active {
  color: aquamarine;
}
