.nav {
  background-color: #c8a2c8;
  grid-area: n;
}
.item a {
  text-decoration: none;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 25%;
  color: black;
}
.item:first-child {
  margin-top: 20px;
}
.item a.active {
  color: red;
}
